<!-- Jumbotron -->
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img src="/img/pizza-box.png" class="max-w-md" />
        <div>
            <h1 class="text-5xl font-bold">Satisfy Your Cravings with Our Delicious Food!</h1>
            <p class="py-6 w-4/5 text-lg">From classic dishes to gourmet creations, we have a wide range of mouth-watering options to satisfy your cravings. Whether you're in the mood for something spicy or sweet, our expert chefs use only the finest ingredients to create meals that are sure to delight your taste buds. So why wait? Order now and experience a culinary adventure from the comfort of your own home.</p>
            <button class="btn btn-primary">Order Now</button>
        </div>
    </div>
</div>
